<!DOCTYPE html>
<html>
  <head>
    <title>Openweb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Questo partial include i css degli engine -->
    
    <%= render "shared/auth_hub/header_engine" %>
    
    <%= javascript_pack_tag 'application' %>
    <%-#  javascript_pack_tag 'hello_react' -%>
      
  </head>
  <body class="fixed-left widescreen">
  
    <header id="topnav" class="tagline"> 
      <div class="container topbar-main"> 
	<div class="pull-left"> 
	  <div class="logo">
	    <a class="logo" href="/openweb/messi/iniziale.php"></a>
	  </div>
	  <span>Layout Application</span>
	</div>
	<div class="pull-right"> 
	</div>
	<div class="clear"></div>
      </div>
      
      <div class="navbar navbar-custom sticky" role="navigation">
	<div class="container">
	  <div class="navigation">
	    <ul class="navigation-menu">
	    </ul>
	  </div>
	</div>
      </div>
    </header>
    
    <div class="clearfix"></div>    
  
    <div class="wrapper">
      <div class="container">
	<div class="row">
	  
	  <div id="contentColumn" class="col-lg-12 col-md-12">
	    <div class="card-box">
   
	      <div id="user-info">
					<% if user_signed_in? %>
					  Ciao <%= current_user.nome_cognome %> | <%= link_to 'Sign out', AuthHub::Engine.routes.url_helpers.destroy_user_session_path, method: :delete  %> | 
					  <%= form_tag(cambia_ente_path, class: 'form-inline') do %> <% unless @array_enti_gestiti.blank? %> <%= select_tag(:cliente_id, options_for_select(@array_enti_gestiti,@ente_principale)) %><% end %><% end %>
					<% else %>
					  <%= link_to "Sign in with Azure", auth_hub.user_omniauth_azure_oauth2_authorize_path(provider: "azure_oauth2") %>
					<% end %>
	      </div>
	      
	      <% if !notice.blank? || !alert.blank? %>
					<div id="notify">
					    <% unless notice.blank?  %>
					      <p class="notice"><%= notice %></p>
					    <% end  %>
					    <% unless alert.blank?  %>
					      <p class="alert"><%= alert %></p>
					    <% end  %>
					</div>
	      <% end  %>
	    
	      
	      
	      <%= yield %>
	      
	    </div>
	  </div>
	  
	</div>			
	
	<footer class="footer">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-lg-offset-4 text-center">
	      	OPENWEB
	      </div>
	      <div class="col-lg-4 text-right">
		<!--<img src="//next-we-prod-cdn-app.azurewebsites.net/custom-assets/images/logodeda.png" alt="dedagroup spa" />-->
	      </div>
	    </div>
	  </div>
	</footer>
      </div>
    </div>
      
  </body>
</html>