<!DOCTYPE html>
<html>
  <head>
    <title>Openweb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= javascript_pack_tag 'bootstrap' %>
    <%= javascript_pack_tag 'detect' %>
    <%= javascript_pack_tag 'fastclick' %>
    <%-# javascript_pack_tag 'jquery.slimscroll' -%>
    <%-# javascript_pack_tag 'jquery.blockUI' -%>
    <%-# javascript_pack_tag 'waves' -%>
    <%= javascript_pack_tag 'wow' %>
    <%-# javascript_pack_tag 'jquery.nicescroll' -%>
    <%-# javascript_pack_tag 'jquery.scrollTo.min' -%>
    <%-# javascript_pack_tag 'jquery.core' -%>
      
  </head>

  <body class="fixed-left widescreen">
    <%= yield %>
  </body>
</html>